OPENROUTER_API_KEY=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
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
MODEL_NAME=openrouter/auto
TAVILY_API_KEY=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
LANGSMITH_API_KEY=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
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=financial-analyst-agent